/*

#sidebar-right{display:none !important;}
#main-content{width:100% !important;}
*/
/********************
	Typography
*********************/


#master_container h1, #master_container h2, #master_container h3, #master_container h4, #master_container p {
	border: none;
	color: white;
}

#master_container h4 {padding-top: 18px;}

#master_container p {margin-top: 0px; padding-bottom: 0px; padding-left: 10px; padding-right: 10px; margin-bottom: 5px;}

#r-n-header-content h1 {
	font-size: 38px ;
	line-height: 32px;
	text-align: center;
	padding-top: 3px;
}
/*
#r-n-header-content h3 {
	padding-top: 10px;
	font-size: 20px;
	text-align: center;		
	color: #91e5b6;
}*/
/*
#r-n-sc-site {
	width: 100%;
	height: 100px;
	border-top: 3px solid #ffffff;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
}*/

#r-n-sc-site a {	
	font-family: "Avenir LT W02 85 Heavy",verdana,sans-serif;	
	font-size: 16px;
	margin: 10px;
	color: #91e5b6;
}

#r-n-sc-site a:hover {
	text-decoration: none;
	color: #ffffff;	
}

/***************
Right Nav
****************/

#right-nav {
	position: absolute;
	width: 0px;
	height: 100%;
	z-index: 2;
	right: 0px;
	top: 0px;
}

#r-n-header {
	position: relative;
	top: 0px;
	left: -300px;
	width: 300px;
	height: 100px;
	z-index: 3;
}

#r-n-header-content {
	width: 100%;
	height: 100px;
	background-color:#2E2E2D;
	background-color:rgba(2,2,0,0.5);
}

#r-n-subcontainer {	
	left: -300px;
	position: absolute;
	width: 300px;
	background-color:#4C4C4B;
	background-color:rgba(2,2,0,0.3);
}

/*Next/Previous Tabs info*/
#r-n-navigate {
	width: 100%;
	height: 55px;
}

#previous-nav {
	width: 50%;
	float: left;
	border-right: 3px solid #ffffff;
}
#next-nav {
	width: 49%;
	float: left;
}

.nav-buttons {
	height: 100%;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff !important; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav-buttons h4 {
	text-align: center;
	padding-top: 6px;
}

.nav-buttons:hover {
	background-color:#2E2E2D;
	background-color:rgba(2,2,0,0.5);
	cursor: pointer;
}

.nav-buttons.gray, .nav-buttons .gray:hover {
	background-color:#4C4C4B;
	background-color:rgba(2,2,0,0.0);
	cursor: default;
	/*background-color:rgba(2,2,0,0.5) !important;*/
}

p.info {
	margin-top: 8px !important;
}

p.numbers {
	margin-bottom: 5px !important;
	text-align: right;

}

@media (max-width: 960px) {
 
}

@media (max-width: 770px) {

	#image1_container {
		left: 0px;
	}

	#r-n-header-content h1 {
		font-size: 18px;
		line-height: 22px;
	}
	#r-n-header-content, #r-n-header {
		height: 50px;
	}	

	#r-n-navigate {
		height: 35px;
	}

	#master_container h4 {padding-top: 8px; font-size: 15px;}

}

@media (max-width: 570px) {
	#master_container {
		height: 460px !important;
	}
	#image1_container {
		position: absolute;
		width: 100%;
		padding-bottom: 100%;
		height: auto;
		left: 10px;
		top: -15px;
	}

	#blades_image {
		top: 11%;
		height: auto;
	}

	#rotor_image, #gears_image { height: auto;}

	#anem_image {
		top: 58.5%;
		height: auto;
	}

	#r-n-header, #r-n-header-content {
		width: 100%;
		left: 0px !important;
		height: 26px;
	}
	#right-nav {
		width: 100%;
		height: 0px;
	}
	#r-n-subcontainer {
		width: 100%;
		left: 0px;
		height: 0px;
	}
	#r-n-navigate {
		height: 25px;
	}
	#master_container h4 {
		padding-top: 3px;
		margin-bottom: -8px;
	}
	#r-n-sc-info2 {
		padding-top: 5px;
	}
}

@media (max-width: 490px) {

	#image1_container {
		top: 60px;
	}

}

@media (max-width: 440px) {
	#image1_container {
		top: 90px;
	}

}

@media (max-width: 380px) {
	#image1_container {
		top: 50px;
	}
}

@media (max-width: 320px) {

	#master_container {
		height: 400px !important;
	}
	#image1_container {
		top: 117px;
	}
	#r-n-header-content h1 {
		font-size: 14px;
	}
	#previous-nav {
		border-right: none;
	}
	#next-nav {
		width: 50%;
	}
}
